
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --cor01: rgb(211, 79, 101);
    --cor02: rgb(0, 255, 255);
}

/* Mobile-first layout */
body {
    padding: 1rem;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img {
    width: 80%; /* Ajustar para telas pequenas */
    margin-bottom: 1rem;
    margin: auto;
    display: block;
}


aside h1 {
    font-size: 2.8rem; /* Fonte menor para dispositivos móveis */
    margin-bottom: 2rem;
    text-align: center;
}

aside span, main span {
    color: var(--cor01);
}

main {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.367);
    padding: 1rem;
}

main h2 {
    font-size: 2rem; /* Ajustar tamanho da fonte */
    text-align: center;
    margin-bottom: 3rem;
}

.cadastro{
    margin: auto;
    display: block;
    width: 80%;
}


.actions-p02 a{
    background-color:var(--cor02);
    width: 40vw;
    display: block;
    margin: auto;
    height: 3.6rem;
    font-size: 1.3rem;
    border-radius: 7px;
    padding: 1rem 5rem;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.173);
    text-decoration: none;  
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .actions a {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.489);
    background-color: var(--cor02);
    width: 80%; /* Ajuste para largura da tela */
    height: 3.5rem;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 7px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .actions a + a {
    background-color: var(--cor01);
    margin-top: 2rem;
}

main form input {
    margin: auto;
    width: 30rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 1.2rem;

    display: flex;
    flex-direction:row;
    align-items: center;
    flex-grow: 1;
}

main form label {
    margin-right: 1rem;
    min-width: 10rem
   
}

footer {
   text-align: center;
    margin-top: 2rem;
}

footer p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

 footer a {
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(146, 83, 83);
}

  
  /* Small devices (portrait tablets and large phones, 600px to 768px) */
  @media  screen and (min-width: 600px) and (max-width: 768px) {
   .content{
    display: grid;
    grid-template-areas: 
    ". . ."
    "imagem form form"
    "imagem form form"
    "imagem form form"
    ;
   }

   aside{
    grid-area: imagem;
    width: 80%;
    margin: auto;
   }

   main{
    grid-area: form;
   }
  }
  
  /* Medium devices (landscape tablets, 769px to 1024px) */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
   
  }
  
  /* Large devices (desktops, 1025px and up) */
  @media screen and (min-width: 1025px) {
    
  }
  


