/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --cor01:rgb(211, 79, 101);
    --cor02: rgb(0, 255, 255);
}

.content {
    display: grid;
    grid-template-areas:
    ". . . . ."
    ". hero . forms ."
    ". hero  . forms ."
   
    ;
    grid-template-rows: 20rem;
}

aside{
    grid-area: hero;
}

aside img{
   width: 25rem;
}

aside h1 {
    font-size: 3.2rem;
    font-weight: 400;
}

aside span, main span {
    color: var(--cor01);
}

main{
    grid-area: forms;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.367);
    padding: 4.4rem 5.7rem;
}

main h2{
    font-weight: bold;
    width: 43rem; 
    font-size: 2.1rem;
}

main .actions a {
    background-color:var(--cor02);
    width: 25rem;
    height: 2.3rem;
    font-size: 1.1rem;
    margin: 2rem;
    border-radius: 7px;
    padding: 1rem 5rem;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.173);
    text-decoration: none;  
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.562);

    display: flex;
    justify-content: center;
    align-items: center;
}


main .actions a + a {
    background-color: var(--cor01);
    margin-top: 4.8rem;
}

footer p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

 footer > a {
    font-size: 1.2rem;
    text-decoration: none;
    }

 */




